    #character_phrase {
    color: #253b8e;
  }
 
  .title_centered {
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .text_centered {
    text-align: center;
    font-family: Jazz LET, fantasy;
    margin-bottom: 40px;
  }
  
  .button {
    outline-style: none;
  }
  
  .footer {
    width: 100%;
    position: fixed;
    margin-top: 80px;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
  }
  @media (max-width: 2560px) {
    .image {
      width: 1500px;
    }
    h1 {
      font-size: 50px;
    }
    .footer {
      font-size: 32px;
      margin-top: 120px;
    }
  }

  @media (max-width: 2000px) {
    .image {
      width: 1000px;
    }
    h1 {
      font-size: 30px;
    }
    .footer {
      font-size: 22px;
      margin-top: 100px;
    }
  }
  
  @media (max-width: 1440px) {
    .image {
      width: 850px;
    }
    h1 {
      font-size: 25px;
    }
    .footer {
      font-size: 20px;
      margin-top: 100px;
    }
  }

  @media (max-width: 865px) {
    .image {
      width: 650px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 22px;
    }
    .title_centered {
      margin-bottom: 60px;
    }
    .footer {
      font-size: 14px;
      margin-top: 70px;
    }
  }
  @media (max-width: 673px) {
    .image {
      width: 500px;
    }
  }
 
  @media (max-width: 510px) {
    .image {
      width: 350px;
    }
    h1 {
      font-size: 18px;
    }
    .title_centered {
      margin-bottom: 30px;
      margin-top: 50px;
    }
    .footer {
      font-size: 10px;
      margin-top: 50px;
    }
  }

  @media (max-width: 320px) {
    .image {
      width: 280px;
    }
    h1 {
      font-size: 15px;
    }
  }
 