.success {
    color: #155724;
    background-color: #daedda;
    border-color: #c3e6cb;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 30px;
    text-align: center;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6bc;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
    border: 3px solid #253b8e;
}

.phrase {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    color: #253b8e;
    font-family: 'Jazz LET', fantasy;
    font-style: italic;
}

.question {
    color:#253b8e;
    font-size: 30px;
    margin-bottom: 50px;
}

.option {
    font-size: 25px;
    color: #253b8e;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform .5s;
    transform: translateX(0) scale(.9);
    background-color: #fff;
    border-color: #c3e6cb;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.option:hover,
.option:focus { 
    transform: translateX(1px) scale(1);
}

.centered { 
    text-align: center;
}

.button {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #253b8e;
    padding: 5px 20px;
    border-radius: 50%;
    margin-top: 50px;
    border: none;
}

.button:hover {
    background-color: #baabe4;
}

.direction_btn {
    flex-direction: row;
}

.score {
    margin-top: 15px;
    color:#253b8e;
    font-size: 20px;
}

@media (max-width: 2560px) {
    .image {
        width: 320px;
        height: 320px;
    }
    .question {
        font-size: 40px;
    }
    .option {
        font-size: 38px;       
    }
    .button {
        font-size: 32px;
        border-radius: 20px;
    }
    .score {
        font-size: 28px;
    }
    .success {
        font-size: 38px;
    }
    .error {
        font-size: 38px;
    }
}

@media (max-width: 2000px) {
    .image {
        width: 180px;
        height: 180px;
    }
    .phrase {
        font-size: 22px;
    }
    .question {
        font-size: 28px;
    }
    .option {
        font-size: 22px;
        width: 50%;
    }
    .button {
        font-size: 20px;
        border-radius: 12px;
    }
    .score {
        font-size: 20px;
    }
    .success {
        font-size: 22px;
        width: 50%;
    }
    .error {
        font-size: 22px;
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .question {
        font-size: 22px;
    }
    .option {
        font-size: 20px;
        width: 80%;
    }
    .button {
        font-size: 18px;
        border-radius: 12px;
    }
    .score {
        font-size: 16px;
    }
    .success {
        font-size: 20px;
        padding: 5px;
        width: 80%;
    }
    .error {
        font-size: 20px;
        width: 80%;
    }
}

@media (max-width: 425px) {
    .phrase {
    font-size: 18px;
    }
    .question {
        font-size: 20px;
    }
    .option {
        font-size: 18px;
        width: 90%;
        transition: none;
        transform: none;
    }
    .option:hover,
    .option:focus { 
        transform: none;
    }
    .button {
        font-size: 15px;
        border-radius: 10px;
    }
    .score {
        font-size: 14px;
    }
    .success {
        font-size: 18px;
        width: 90%;
    }
    .error {
        font-size: 18px;
        width: 90%;
    }
}

@media (max-width: 320px) {
    .phrase {
        font-size: 15px;
    }
    .question {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .option {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .success {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .error {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .image {
        width: 150px;
        height: 150px;
    }
}