.message {
    color:#253b8e;
    font-size: 30px;
    margin-top: 180px;  
}

.score {
    color:#253b8e;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.home {
    text-align: center;
    margin-top: 80px;
    cursor: pointer;
}

.home_size {
    width: 40px;
    object-fit: fill;
}

.image {
    margin: 50px;
    width: 300px;
    height: 150px;
    object-fit: fill;
}

@media (max-width: 2560px) {
    .message {
        font-size: 50px;
        margin-top: 320px;
    }
    .home_size {
        width: 60px;
    }
    .score {
        font-size: 28px;
    }
    .image {
        width: 600px;
        height: 300px;
    }
}

@media (max-width: 2000px) {
    .message {
        font-size: 30px;
        margin-top: 290px;
    }
    .image {
        width: 300px;
        height: 150px;
    }
}

@media (max-width: 1580px) {
    .message {
        font-size: 25px;
        margin-top: 220px;
    }
    .home_size {
        width: 45px;
    }
    .score {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .message {
        font-size: 20px;
        margin-top: 160px;
    }
    .home_size {
        width: 40px;
    }
    .score {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .message {
        font-size: 18px;
        margin-top: 120px;
    }
    .image {
        margin-top: 20px;
        width: 200px;
        height: 120px;
    }
    .home_size {
        width: 35px;
    }
    .score {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .message {
        font-size: 15px;
        margin-top: 100px;
    }
    .image {
        margin: 10px;
        width: 200px;
        height: 120px;
    }
    .home {
        margin-top: 40px;
    }
    .score {
        font-size: 12px;
    }
}
